"scopeName": "source.proofread"
"name": "proofread"
"fileTypes": ["dp", "proofread"]

"patterns": [
    {
        "match": "\\b\\d+\\b"
        "name": "constant.numeric.proofread"
    }
    {
        "match": "-\\s*$"
        "name": "variable.language.proofread"
    }
    {
        "match": "[\\\"']"
        "name": "string.other.proofread"
    }
]
