".source.proofread":
    "editor":
        "autoIndentOnPaste": false
        "commentStart": ">"
        "preferredLineLength": 72
        "softTabs": true
        "softWrap": true
        "softWrapAtPreferredLineLength": true
        "tabLength": 2
